
html {
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    height: fit-content;
    width: 100%;
    scrollbar-width: none;
    background-image: url(./images/background.png);
    /* The link to your image */
    

    /* This ensures the image covers the entire screen */
    background-size: cover;

    /* This prevents the image from repeating if it's too small */
    background-repeat: no-repeat;

    /* This keeps the image fixed when scrolling */
    background-attachment: fixed;

    /* This centers the image */
    background-position: center;
}

body {
    height: 80%;
    padding: 16px;
}

.card {
    cursor: pointer;
    border-radius: 32px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    
    overflow: hidden;
    background-color: #fbfefb;
    
}

img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 16px;
    transform: scale(1);
    

}
.card img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    transform: scale(1);
    transition: border-radius 0.5s ease;
    transition: transform 0.3s ease;
}
.card img:hover{
        border-radius: 0px;
        transform: scale(1.02);
    }

.card h2{
    margin: 0px;
    padding: 5px;
    font-size: 48px;
    color: #524632;
}

#mainCard{
    height: 1000px;
    background-color:#fbfefb50;
    
    
    border-radius: 32px;
    overflow: hidden;
    height: fit-content;
    
}

.rowContainer{
    display: flex;
    flex-flow: row;
    height: 100%;
}
.rowDial{
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 16px;
    margin: 0px 16px 16px 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 10px;
    height: 100%;
    background-color: #d0b8ac;
    border-radius: 32px;
}

.rowDial > img{
    flex: 0 0 auto;
}
.rowDial {
    font-size: 32px;
}


.columnContainer{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
}

#galleryContainer{
    background-color: #d0b8ac;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 32px;
    padding: 16px;

    gap: 10px;
    height: 100%;
}



#mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 256px;
}
#mainTitle * {
    display: flex;
    align-items: center;
    justify-content: center;
    y: 0px;
    width: 100%;
    margin: 0px;
    padding: 16px;
    font-size: 72px;
    color: #524632;
}

.homeBanner{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content:space-around;
    align-items: center;
    color: #f5f4ef;
    background-color: #524632;
    border-radius: 32px;
    height: 450px;
    padding: 32px;
    margin: 16px;
}
.homeBanner h1{
    flex: 0 0 auto;
    text-align: center;
    list-style: none;
    list-style-type: none;
    font-size: 132px;
    margin: 8px;
    padding: 0px;
}
.homeBanner h2,h3{
    flex: 0 0 auto;
    text-align: center;
    list-style: none;
    list-style-type: none;
    font-size: 48px;
    margin: 8px;
    padding: 0px;
}
.homeBanner img{
    flex: 0.5 0 auto;
    object-fit: cover;
    overflow: hidden;
    height: 380px;
    width: 128px;
    border-radius: 16px;
}



#itemDescription{
    justify-content: flex-start;
    text-align: left;
}
#itemDescription > h1{
    font-size: 64px;
}
#itemDescription > h3{
    font-size: 48px;
}



.categoryTitle{
    cursor: pointer;
    margin: 0px;
    padding: 0px 0px 0px 16px;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: #463f3a;
}
.categoryTitle > h2{
    font-size: 64px;
}

pre{
    font-family: 'DM Sans', sans-serif;
}

button{
        cursor: pointer;
        border-radius: 30px;
        border-style: hidden;
        color: #f5f4ef;
        background-color: #524632;
        font-size: 64px;
        transition: border-width 0.1s cubic-bezier(.4,0,.2,1);
        transition: box-shadow 0.05s cubic-bezier(.4,0,.2,1);
    }

button:active{
        border-radius: 30px;
        border-style: solid;
        border-width: 0px 0px 5px 0px;
        background-color: transparent;
        border-radius: 0px;
        font-size: 64px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.0) ;
    }

.foot{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:flex-start;
    overflow: hidden;
    color: #bcb8b1;
    background-color: black;
    padding: 64px;
    
}
.foot > h1, h2, h3, h4, h5, li{
    text-align: left;
    flex: 0 0 auto;
    margin: 8px;
    padding: 0px;
    font-size: 36px;
}
.foot > h2{
    font-size: 48px;
}
.foot > h1{
    font-size: 64px;
}
.foot img{
    flex: 0 0 auto;
    object-fit: cover;
    overflow: hidden;
    height: 180px;
    border-radius: 0px;
}

